[submodule "build-essential"]
	path = build-essential
	url = git@github.com:opscode-cookbooks/build-essential.git
[submodule "yum"]
	path = yum
	url = git@github.com:opscode-cookbooks/yum.git
[submodule "python"]
	path = python
	url = git@github.com:opscode-cookbooks/python.git
